<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - User.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/User.UI.styles.css" asp-append-version="true" />
     <script src="~/lib/jquery/dist/jquery.min.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">User.UI</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - User.UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
   
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
      <script src="~/lib/jquery/dist/jquery.min.js"></script>
       <script src="http://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<link href="http://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet"/>


     <script type="text/javascript">
         function Edit(objUser){
           debugger;
           console.log("edit user")
            $('#txtFirstName').val(objUser.firstName);
              $('#txtLastName').val(objUser.lastName);
             $('#txtPhone').val(objUser.phone);
               $('#txtAge').val(objUser.age);
                $('#ddlDepartment').val(objUser.departmentId);
       }
         function Delete(objUser){
              $.ajax({  
                    type: 'Delete',  
                    url: 'http://localhost:5086/users/' + objUser.id,  
                    dataType: 'json',  
                    success: function (data) {  
                        console.log(data);
                       ReloadGrid();
                    }  
  
                });  
  
          
       }
    function Reset(){

        $("#txtFirstName").val("");
          $("#txtLastName").val("");
            $("#txtPhone").val("");
              $("#txtAge").val("");
           $("#ddlDepartment").val("-1");
    }
    function ReloadGrid(){
      //  $('#tblUsers').DataTable.clear();
        dataTable.ajax.reload();
       //  $('#tblUsers').DataTable.ajax.reload();
    }
    $(document).ready(function(){
       
        $('#btnSave').click(function(){

            
            var objUser={
               /* FirstName:$('#txtFirstName').val(),
                LastName:$('#txtLastName').val(),
                Phone:$('#txtPhone').val(),
                Age:$('#txtAge').val(),
                 DepartmentId:$('#ddlDepartment').val()*/

                  firstName:$('#txtFirstName').val(),
                lastName:$('#txtLastName').val(),
                phone:$('#txtPhone').val(),
                age:$('#txtAge').val(),
                 departmentId:$('#ddlDepartment').val(),
                 dateCreated: '2022-07-29',
                 createdBy: 'Anatoly',
                 lastModifiedDate: '2022-07-29',
                 lastModifiedBy: 'Anatoly'


            }
           
                $.ajax({
                type: "POST",
                url: 'http://localhost:5086/Users',
                data:  JSON.stringify(objUser),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                  ReloadGrid();
                },
                error: function () {

                }
            });
         /*   $.post("http://localhost:5086/Users", data{
    "firstName": "Awesome",
    "lastName": "King",
    "age": 36,
    "phone": "6474698985",
    "departmentId": 2,
   
   
    "dateCreated": "2001-12-01T00:00:00",
    "createdBy": "Anatoly",
    "lastModifiedDate": "2011-12-01T00:00:00",
    "lastModifiedBy": "Tom"
})
            .done(function(data) {
                ReloadGrid();
            });
        */
       
        });
        
       
        
      
         $('#btnAddNew').click(function(){
             Reset();
         });

    
        dataTable = $('#tblUsers').DataTable({
            "ajax":{
                "url": 'http://localhost:5086/Users',
                "dataSrc": "",
                "type":"Get",
                 "filter": true,
                "datatype": "json"


                
            },
            columns: [

                {data: "firstName", "searchable": true},
                 {data: "lastName", "searchable": true},
                  {data: "age", "searchable": true},
                   {data: "phone", "searchable": true},
                    {data: "department.departmentName"},
                   {
                       data: "Id",render: function(data,type,row,meta)
                       {

                           return "<button class='btn btn-primary' style='margin-right:5px;' onclick=Edit(" + JSON.stringify(row) + ") >Edit</button>"+
                           "<button class='btn btn-danger' style='margin-right:5px;' onclick=Delete(" + JSON.stringify(row) + ")>Delete</button>";
                       }

                   }

            ]


        });



    });
</script>
</body>
</html>
