@{
    ViewData["Title"] = "Home Page";
}


<input type="text" id="txtFirstName" placeholder="First Name"/>

<input type="text" id="txtLastName" placeholder="Last Name"/>

<input type="text" id="txtAge" placeholder="Age"/>
<input type="text" id="txtPhone" placeholder="Phone"/>
<input type="text" id="txtDepartmentID" placeholder="DepartmentID"/>

<button id="btnSave" class="btn btn-sucess" style="margin-right:5px">Save</button>

<button id="btnAddNew" class="btn btn-primary" style="margin-right:5px">Add New User</button>


<table id="tblUsers" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>First Name</th>
             <th>Last Name</th>
              <th>Age</th>
               <th>Phone</th>
                <th>Department Name</th>
        </tr>

    </thead>
    <tbody>
     

    </tbody>
  
</table>



